html,
body {
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: #A49080;
}

#h {
    margin: 10px 10px;
    padding: 10px 20px;
    background:#F0ECE4;
    height:80px;
    text-align:left;
}
#p {
    margin: 10px 10px;
    padding: 10px 20px;
    text-align:left;
}

.rounded-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; /* 设置圆角半径 */
    background-color: #fff; /* 设置背景颜色 */
    color: #c98c57; /* 设置文本颜色 */
    border: 1px solid #c98c57; /* 去掉边框 */
    cursor: pointer;
  }
.box {    
    height: 20px;
    border: 2px solid #071552;    
    text-align: center;    
    display: inline-block;
    padding: 0px 10px;
  }

  #box1{
    font-weight: bolder;
    background-color:#071552 ;
    color:#fff;
  }
  #box2{
    color:#071552;
    margin-left: -5px;
  }
.menu{
    height: 40px;
    border-bottom: 1px solid #A49080;
    color: #A49080;
}
.menu a{
    margin: 0 16px;
    /* padding: 0 16px; */
    height: 38px;
    /* background-color: #edeef0; */
    display: inline-block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #A49080;
}
.menu a:hover{
    font-weight: 700;
    border-bottom: 3px solid #A49080;
}
#selected{
    font-weight: 700;
    border-bottom: 3px solid #A49080;
}
.row1{
    height: 100%;
}
#about{
    /* display: inline-block; */
    margin: 3% 7% 0 7%;
    /* height: 300px; */
    padding: 2% 7% 3% 7%;
    text-align: center;
    
    position: relative;
    background: #F5F3EF;
    border-radius: 15px;

    cursor: pointer;
    box-shadow: 3px 3px 8px 1px #e8e8e8;
}

#row2{
    display: inline-block;
    margin: 3% 7% 3% 7%;
    padding: 2% 7% 3% 7%;
    position: relative; 
    background: #F5F3EF;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px #e8e8e8;
    text-align: center;
}
#spanr{
    background-color: #B78C5E;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}
#spanb{
    background-color: #3C608B;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}
#spang{
    background-color: #949E7B;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}
#features{
    text-align: left;
}
